@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

html{
	font-size: 10px;
}

.posts_container{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin:auto;
	max-width:520px;
}

header{
	border-bottom:#E6E6E6 solid 2px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height:64px;
}
.header_container{
	max-width: 520px;
	width:100%;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;
	
}
header svg{
	width:135px;
	height:38px;
}

.header__logo{
	padding-left:12px;
}
.header__right_icon{
	border:0px;
	background-color: inherit;
	padding-right:12px;
	margin-left:auto;
	font-size: 1.6rem;
}

.characters{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height:120px;
	margin-bottom: 20px;
	width: 100%;
	
}

.characters__picture{
	height:76px;
	width:76px;
	border-radius:50px;
	background-color: gray;
	margin-left:20px
}
.characters__picture img{
	height:inherit;
	width:inherit;
	border-radius:inherit;
}

.characters--selected{
	background:linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	height:84px;
	width:84px;
	padding:2px;
}
.characters--selected img{
	height:76px !important;
	width:76px !important;
	border-radius:inherit !important;
	border:solid 3px white;
}

.post{
	background-color: white;
	margin-right:20px;
	margin-left:20px;
	border-radius: 12px;
	border:2px solid #E6E6E6;
	margin-bottom:32px;
	max-width: 518px;
}

.post_header{
	height:60px;
	border-radius:  12px 12px 0px 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.post_header__picture{
	background-color: gray;
	height:40px;
	width: 40px;
	border-radius: 50px;
	margin-left:8px
}
.post_header__picture img{
	height:inherit;
	width: inherit;
	border-radius: 50px;
}

.post_header__name{
	margin-left: 10px;
}
.post_header__name p{
	font-size: 1.2rem;
	font-weight: bold;
	font-family: 'Open Sans';
}

.post_header__options{
	margin-left: auto;
	height:36px;
	width:30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.4rem;
	margin-right: 8px;
}

.post__picture{
	max-height: 520px;
	height:auto;
	
}
.post__picture img{
	width: 100%;
	
}
.post_icons{
	height:52px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-left:18px;
	padding-right:18px;
	font-size: 2.4rem;
}
.post_icons__like{
	height: 25px;
	width: 28px;
}
.post_icons__comment{
	height: 25px;
	width: 28px;
	margin-left: 32px;
}
.post_icons__save{
	height: 25px;
	width: 28px;
	margin-left:auto
}
.post_liked{
	height:52px;
	background-color:#F5F5F5;
	border-radius:  0px 0px 12px 12px;
	padding-right: 8px;
	padding-left: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.post_liked__character{
	height:32px;
	width: 32px;
	border-radius: 50px;
	margin-right: 10px;
}
.post_liked__character img{
	height:inherit;
	width: inherit;
	border-radius: 50px;
	
}
.post_liked__label{
	font-size: 1.2rem;
}














